@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Mooli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.content {
    position: relative;
}

.content h2 {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 20em;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%, 100%
    {
        clip-path: polygon(0 47%, 15% 38%, 30% 43%, 50% 58%, 72% 62%, 89% 55%, 100% 44%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0 53%, 21% 56%, 40% 53%, 54% 42%, 68% 35%, 88% 34%, 100% 39%, 100% 100%, 0% 100%);
    }
}